<article class="jumbotron mt-3">
  <h1 class="h2"><%= @product.name %></h1>
  <h2 class="h3 text-muted font-weight-normal"><%= @product.age_low %> – <%= @product.age_high %> <%= @product.age_units %></h2>
  <p class="lead">
    <%= @product.description %>
  </p>
  <%= form_with url: new_order_path, method: :get do %>
    <%= hidden_field_tag :product_id, @product.id%>
    <%= submit_tag "Buy Now #{ number_to_currency(@product.price_cents / 100) }", class: "btn btn-primary btn-lg text-uppercase text-tracked font-weight-bolder" %>
    <%= label_tag :gift, "Is this a gift?", class: "lead" %>
    <%= check_box_tag :gift, true %>
  <% end %>
</article>
<nav class="pb-4">
  <%= link_to products_path, class: "text-normal font-weight-bolder" do %>
    &larr; Back to Products
  <% end %>
</nav>
